---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Straight">
    <div class="transition-all relative duration-1000 ">
        <!-- <PageHeader /> -->

        <div class="relative z-10 px-6 pt-10">
            <!-- <Greetings/> -->
            <p>Rules</p>
        </div>
    </div>
</Layout>

<style>
</style>
