---
import LayoutLogin from "../../layouts/LayoutLogin.astro";
---

<LayoutLogin title="Login">
  <div
    class="transition-all relative duration-1000 w-screen h-screen bg-blue-50/50 flex flex-row items-center justify-center"
  >
    <div class=" h-auto bg-white flex flex-col items-center justify-center gap-12 py-10 px-8 rounded-md border border-zinc-100 shadow-lg">
      <div class="flex flex-col gap-2">
        <a href="/" class="text-center text-blue-600 text-4xl italic font-medium">
          straight<span class="text-zinc-900">.</span>
        </a>
        <p class="text-3xl text-zinc-700 font-extrabold">Account Sign In</p>
      </div>
      <div class="relative z-10">
        <form class="flex flex-col mx-auto min-w-[450px] max-w-[700px]">
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"
              >USERNAME OR EMAIL:</label
            >
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-zinc-800 placeholder-zinc-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-zinc-200 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="example@getstraight.dev"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="password"
              class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"
              >PASSWORD:</label
            >
            <input
              type="password"
              id="password"
              class="bg-gray-50 border border-gray-300 text-zinc-800 placeholder-zinc-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="**************"
              required
            />
          </div>
          <div class="flex flex-row items-center justify-center mb-5">
            <label
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Don't remember your password?</label
            >
            <a
              href="#"
              class="ms-2 text-sm font-medium text-blue-600 dark:text-gray-300 transition-all duration-300 hover:scale-[1.03]"
              >Reset here
            </a>
          </div>
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Log in</button
          >
        </form>
      </div>
    </div>
  </div>
</LayoutLogin>

<style></style>
