---
import LayoutMenu from '../../layouts/LayoutMenu.astro';
---
<LayoutMenu title='Straight'>
<div class="transition-all relative duration-1000 ">
    <div class="relative z-10 px-6 pt-10">
        <p>pricing</p>
    </div>
</div>
</LayoutMenu>

<style>
</style>
