---
interface Props {
    href?: string;
}

const { href } = Astro.props
const pathname = new URL(Astro.request.url).pathname;
---

<a href={href} class={`flex gap-4 items-center py-3 px-5 font-small text-sm transition ${href === pathname ? `text-blue-500 hover:text-blue-400` : `text-zinc-800 hover:text-blue-400`}`}>
    <slot/>
</a>