---
import AsideMenuItem from "./AsideMenuItem.astro";
import HomeIcon from "../icons/Home.astro";
import UserIcon from "../icons/User.astro";
import LibraryIcon from "../icons/Library.astro";
import SettingsIcon from "../icons/Settings.astro";
---

<nav class="flex flex-col justify-between min-h-full border-r-2 border-zinc-200">
        <div class="">
            <AsideMenuItem href="/dashboard">
                <HomeIcon />
                Dashboard
            </AsideMenuItem>
            <AsideMenuItem href="/users">
                <UserIcon />
                Users
            </AsideMenuItem>
            <AsideMenuItem href="/rules">
                <LibraryIcon />
                Rules
            </AsideMenuItem>
            <AsideMenuItem href="/actions">
                <LibraryIcon />
                Actions
            </AsideMenuItem>
            <AsideMenuItem href="/roles">
                <LibraryIcon />
                Roles
            </AsideMenuItem>
        </div>
        <div class="">
            <AsideMenuItem href="/">
                <SettingsIcon />
                Settings
            </AsideMenuItem>
        </div>    
</nav>