---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Straight">
    <div class="transition-all relative duration-1000 ">

        <div class="relative z-10 px-6 pt-4">
            <p>Roles</p>
        </div>
    </div>
</Layout>

<style>
</style>
