---
import AsideMenu from '../components/AsideMenu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="app" class="relative h-screen p-2">
			<header class="[grid-area:logo] flex flex-row justify-center items-center min-h-[100px] border-r-2 border-zinc-200">
				<p class="text-center text-blue-600 text-4xl italic font-medium">
					straight<span class="text-zinc-900">.</span>
				</p>
			</header>
			<aside class="[grid-area:aside] flex-col flex overflow-y-auto">
				<AsideMenu />
			</aside>
			
			<main class="[grid-area:main] overflow-y-auto">
				<slot />
			</main>
		</div>
	</body>
</html>
<style>
	#app {
		display: grid;
		grid-template-areas: 
			"logo main"
			"aside main";
		grid-template-columns: 250px 1fr;
		grid-template-rows: auto 1fr;
	}
</style>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #f7f7f7;
		background-size: 224px;
	}
	@font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
</style>
