---
import Layout from "../../layouts/Layout.astro";
import type { User } from "../../models/user";
import { UserSearchInput } from "../../components/UsersSearchInput.tsx";
import { TablePaginationInfo } from "../../components/TablePaginationInfo.tsx";
// import UsersTable from '../../components/UsersTable.astro';
import { UsersTable } from "../../components/UsersTable.tsx";
// import AddUserButton from '../../components/AddUserButton.astro';
import { AddUserButton } from "../../components/AddUserButton";
import { OrganizationDropdown } from "../../components/OrganizationDropdown";
import type { Organization } from "../../models/organization";
import { getOrganizations } from "../api/organization-service";

const organizations: Organization[] = await getOrganizations();
---

<Layout title="Straight">
    <div class="transition-all relative duration-1000 h-full">
        <div class="relative z-10 rounded-lg ml-2 overflow-y-auto p-4 h-full">
            <header class="py-4">
                <!-- <h1 class="text-2xl font-medium text-zinc-700 py-6">Alvaro's Organization</h1> -->
                <div class="flex flex-row">
                    <OrganizationDropdown
                        organizations={organizations}
                        client:visible
                    />
                </div>
                <div class="w-full flex flex-row justify-between items-center">
                    <div class="flex flex-row gap-4 h-auto">
                        <UserSearchInput client:visible/>
                        <AddUserButton client:visible />
                        <!-- <AddUserButton /> -->
                    </div>
                    <TablePaginationInfo client:visible/>
                </div>
            </header>
            <body class="overflow-y-auto">
                <UsersTable client:visible />
            </body>
        </div>
    </div>
</Layout>

<style
></style>